@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  background-color: rgb(200, 204, 200);
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 12em;
  height: 30vh;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  margin-bottom: 1em;
  width: 25vw;
  padding: 1em;
  border: none;
  font-size: large;
}

input:focus {
  outline: none;
}

button {
  padding: 1em;
  background-color: rgb(23, 221, 39);
  border: none;
  color: white;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1em;
}

button:hover {
  background-color: rgb(21, 226, 38);
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 450px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -7em;
  position: relative;
}

.modal-content p {
  font-size: 1.4em;
  color: red;
}

.close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 1.5em;
  transform: rotate(45deg);
}

.close:hover {
  cursor: pointer;
}
