@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins";
  background-color: rgb(191, 191, 192);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}

.container h1 {
  margin-bottom: 2em;
}

.inner-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  height: 220px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-radius: 0.8em;
  cursor: pointer;
  background-color: rgb(213, 215, 218);
  margin: 0.7em;
}

.card:hover {
  background-color: rgb(197, 198, 199);
}

.email {
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(110, 110, 110);
}

img {
  width: 100px;
  height: 100px;
}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 430px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3em;
  position: relative;
}

.modal-content input {
  width: 40%;
  outline: none;
  border: none;
  background-color: rgb(204, 204, 204);
  padding: 1em;
  font-size: 1.2em;
  margin-top: 1em;
}

.modal-content .lower-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.send {
  width: 45px;
  height: 45px;
}

.send:hover {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 1.5em;
  transform: rotate(45deg);
}

.close:hover {
  cursor: pointer;
}
